BOT_TOKEN=
GROQ_API_KEY=
VERIFY_CHANNEL_ID=
LOG_CHANNEL_ID=
VERIFIED_ROLE_ID=
STAFF_ROLE_ID=
YOUTUBE_CHANNEL_NAME=
YOUTUBE_CHANNEL_HANDLE=
MIN_CONFIDENCE=90
DELETE_SUCCESS_SCREENSHOT=true
DELETE_FAILED_SCREENSHOT=false
COOLDOWN_MINUTES=5
